<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        {% if canonical %}<link rel="canonical" href="{{ canonical }}">{% endif %}

        {# Stylesheets #}
        {% for href in site.stylesheets %}
            <link rel="stylesheet" href="{{ href }}">
        {% endfor %}

        {% for href in stylesheets %}
            <link rel="stylesheet" href="{{ href }}">
        {% endfor %}

        {% for src in site.scripts %}
            <script src="{{ src }}" defer></script>
        {% endfor %}

        {% for src in scripts %}
            <script src="{{ src }}" defer></script>
        {% endfor %}

        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

    </head>
    <body class="text-base {{ bodyClass }}">

        {{ content | safe }}

    </body>
</html>