---
layout: default
title: Learn Lunar Magic
description: Super Mario World ROM Hacking resources and tutorials
eleventyNavigation:
    key: Home
bodyClass: bg-warning-50
---

<div class="lunar-magic-window | h-screen flex items-center | px-10 py-20">
    <main class="space-y-4 | text-center text-gray-10 | max-w-2xl mx-auto">
        <h1 class="text-warning-50 | text-2xl font-retro leading-tight">Learn Lunar Magic</h1>
        <p class="text-lg">I've thought <em>a lot</em> about a site that is a curated, dedicated resource for learning Lunar Magic and the tools in it's eco-system.</p>
        <p>That's why I'm building this site. At first, it'll be small little tips and tricks but I'd like to grow it into full tutorials and guides on how to get the most out of Lunar Magic.</p>

        <a class="inline-flex items-center space-x-2 | bg-neutral-90 text-neutral-10 hover:shadow-lg | rounded px-8 py-2" href="https://twitter.com/underscoresdev">
            <svg class="w-8 h-8 text-white" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 124 124" viewBox="0 0 124 124">
                <path fill="currentColor" d="M106.3,36.6c-2.8,1.3-6,2.1-9,2.6c1.5-0.2,3.6-2.9,4.5-3.9c1.3-1.6,2.4-3.5,3-5.5
				c0.1-0.2,0.1-0.4,0-0.5c-0.2-0.1-0.3,0-0.5,0c-3.4,1.8-6.9,3.2-10.7,4.1c-0.3,0.1-0.5,0-0.7-0.2c-0.3-0.4-0.6-0.7-0.9-1
				c-1.6-1.3-3.3-2.4-5.2-3.2c-2.5-1-5.3-1.5-8-1.3c-2.6,0.2-5.2,0.9-7.5,2.1c-2.3,1.2-4.4,2.9-6.1,5c-1.7,2.1-3,4.6-3.6,7.3
				c-0.6,2.6-0.6,5.1-0.2,7.7c0.1,0.4,0,0.5-0.4,0.4C46.2,48.1,34,42.9,24.1,31.6c-0.4-0.5-0.7-0.5-1,0c-4.3,6.5-2.2,16.9,3.2,22.1
				c0.7,0.7,1.5,1.4,2.3,2c-0.3,0.1-3.9-0.3-7.1-2c-0.4-0.3-0.6-0.1-0.7,0.4c0,0.7,0,1.3,0.1,2.1c0.8,6.6,5.4,12.7,11.6,15
				c0.7,0.3,1.6,0.6,2.4,0.7c-1.4,0.3-2.9,0.5-7,0.2c-0.5-0.1-0.7,0.2-0.5,0.6C30.4,81.1,37,83.6,42,85c0.7,0.1,1.3,0.1,2,0.3
				c0,0.1-0.1,0.1-0.1,0.1c-1.6,2.5-7.3,4.4-10,5.3c-4.8,1.7-10.1,2.4-15.2,1.9c-0.8-0.1-1-0.1-1.2,0c-0.2,0.1,0,0.3,0.2,0.5
				c1,0.7,2.1,1.3,3.2,1.9c3.2,1.7,6.6,3.1,10.1,4.1c18.2,5,38.8,1.3,52.5-12.3C94.2,76.2,98,61.5,98,46.7c0-0.6,0.7-0.9,1.1-1.2
				c2.8-2.1,5-4.6,7.1-7.4c0.5-0.6,0.4-1.2,0.4-1.4c0,0,0-0.1,0-0.1C106.6,36.4,106.7,36.4,106.3,36.6z"/>
                <path fill="currentColor" fill-rule="evenodd" d="M43.9 101C51.4 101 44.2 101 43.9 101 44.9 101 43.8 101 43.9 101zM43.9 101C43.8 101 42.4 101 43.9 101 43.9 101 43.6 101 43.9 101zM46.9 101.1C46.9 100.9 48.5 101.1 46.9 101.1 46.9 101 47.1 101.1 46.9 101.1zM78.5 27.9c-.1.1-.2.1-.4 0C78.2 27.9 78.4 27.9 78.5 27.9z" clip-rule="evenodd"/>
            </svg>

            <span>Follow me on Twitter</span>
        </a>
        <p class="text-warning-10 text-sm">For some spicy Lunar Magic tips and tricks and if you have ideas, let me know. You can see my <a class="inline-block px-2 py-px | bg-warning-50 text-warning-90 hover:bg-warning-90 hover:text-warning-10" href="https://www.notion.so/underscores/Learn-Lunar-Magic-464692f0999e46e09ef39f3d02d4a326">plans so far</a> on Notion.</p>
    </main>
</div>